/*font-family: 'Audiowide', cursive;*/
/*font-family: 'Unica One', cursive;*/
body {
  font-family: 'Unica One', cursive;
  background-image: url("../img/space.jpg");
}

.reciept {
  display: none;
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
}

.reciept h2 {
  font-family: 'Audiowide', cursive;
}

.jumbotron {
  background-color: #827eae;
  padding-bottom: 15px;
}

.jumbotron p {
  font-size: 35px;
}

.jumbotron h1 {
  font-family: 'Audiowide', cursive;
}

.form-control {
  margin-bottom: 15px;
}

#info {
  font-size: 35px;
  color: white;
}

#questions {
  text-align: center;
}

h3, h4 {
  text-align: center;
}

h4 {
  color: white;
}

.form-check {
  color: white;
  margin-left: 10px;
}

button {
  background-color: #454c92
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card {
  border: none;
}

.card-header {
  background-color: #454c92;
}

.card-body {
  background-color: #827eae;
}
